// 主题颜色
$color-main: #ffd200;
// 颜色
$color-bg-deep: #e8e8e8;
$color-bg-middle: #f4f4f4;
$color-bg-shallow: #fcfcfc;
// 字体颜色
$color-font-main: #323232;
$color-font-gray: #a2a2a2;
$color-font-white: #FFF;
$color-font-black: #000;
// 字体大小
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;