{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"] // 针对每个浏览器最后的两个版本进行转义
        }
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime"
  ]
}