/*body {
  position: fixed;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}*/

body {
  user-select: none;
}

img {
  width: 100%;
  height: auto;
}

input {
  outline: none;
  border: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box-shadow {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

@keyframes ani_loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}